  
#logo{
	}

	body{
		background-color: #e6f9ff;
	}

	#cssfordilter{
		background-color: #e6f9ff;
	} 
	
	#total-orders{
		background-color: #4cb4c7;
	}


	#orders-delivered{
		background-color: #7abecc;
	}

	#orders-pending{
		background-color: #7CD1C0;
	}