{% extends 'accounts/main.html' %}
{% load static %}
{% block content%}

<P><h3>Site Explanation: </h3></P>
<P><h4>This is Pharmacy medicines delivery website. The delivery agency is a third party sector where it takes the medicine orders,
    from Pharmacutical Labs and deliver to the corresponding paharamcies  according to the list given by the Labs.
    So this third-party delivery agency  manages all the clients orders under their respective client names and look after the 
    deliveries. After delivering the medicine package to their respective paharamcies, we mark the order in our website delivered if not so it is marked pending/Out for delivery.
    Thus it keeps the track and record of all the Orders of clients here with ease to see their info whenever needed
    24X7. This enables the delivery-agency for fast upadtes and info about their deliveries getting rid of bulk papers.
    

</h4</P>
<br>
<br>

<p><h3>1.What Does this site do?</h3></p>
<p><h5> This site is meant to keep track and record of the products to be delivered[ Here for example i used the pharmacy]. </h5></p>

<hr>

<p><h3>2.Where it can be used?</h3></p>
<p><h5> It can be used in Deivery,Logistics anywhere, where a person has to deliver the products to customers/shops and keep a record
      of them and access at anytime instead carrying and storing them manually. </h5></p>

<hr>

<p><h3>3.What can a admin of this site can do?</h3></p>
<p><h5> Can create new customers as their delivery clients. <br>
            
            Add new  products. <br>
            Make crud operations orders.<br>
            Filtering is also available for searching purpose in customers and their orders. <br>
            [All  Featues makes this site Dynamic].</h5></p>
<hr>

<p><h3>4.Features included</h3></p>
<p><h5> Login with real time authentication. <br>
        Admin level status for complete picture of website. <br>
        Login required for access of pages. <br>
        Easy CRUD operations with simple UI.

        </h5>
</p>

<hr>

<p><h3>5.More info</h3></p>
<P><h5>This is just a sample of the site features, more features of CRUD  operations are available to customer details  Products.<br>
        Profile's on Login basis.<br>Can make this as cutomer to customer business site by making them enble to create orders.<br>
        User-permissions after login so not eveyone can get full access to website. </h5></P>

{% endblock %}